@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any additional global styles below */

body {
  @apply font-sans; /* Apply the Inter font globally */
} 

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.animate-pulse {
  animation: blink 1s ease-in-out infinite;
}